<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{workspace}}
                        <a href = "#"><i class="fas fa-plus-circle"></i></a>
                    </div>
                        
                    <ul class="panel-body">
                         <!-- v-for="title in titles" v-bind:key="title.id" -->
                        <li class="list-group-item">{{title}}</li>

                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{{title}}</div>
                    
                    <div class="panel-body">
                        <ul class="list-messages list-group"></ul>
                    </div>

                    <div class="panel-footer">
                        <div class="form-group">
                            <input class="form-control" v-model="message" v-on:keyup.enter="postMessage" placeholder="Type message and press enter to send message" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- create room -->
            <div>
                <form action="/createroom" method = "get">
                    <input type="text" placeholder="Name" id = "name" name = "name">
                    <select id = "type" name = "type">
                        <option value="public">Public</option>
                        <option value="private">Private</option>
                    </select>
                    <input type="hidden" id = "id" :value = "id" name = "id">
                    <input type="submit" value = "create">
                </form>
            </div>
    </div>
</template>

<script>
    export default {
        props: ['title','workspace', 'id'],
        // data(){
        //     return {
        //         rooms: [],
        //         room: {
        //             id: '',
        //             workspace_id: '',
        //             name: '',
        //             type: ''
        //         },
        //         pagination: {},
        //         edit: false

        //     }
        //     return {message: null};
        // },
        // created(){
        //     this.fetchRooms();
        // },
        sockets: {
            message: function (val) {
                var data = JSON.parse(val);
                var html = '<li class="list-group-item"><strong>'+data.user+'</strong> '+data.message+'</li>';
                $('.list-messages').append(html);
            }
        },
        methods: {
            // fetchRooms(){
            //     fetch('api/rooms')
            //     .then(res => res.join())
            //     .then(data => {
            //         this.rooms = res.data;
            //     })
            // },
            postMessage: function() {
                if( this.message ){
                    axios.post('/post-message', {message: this.message}).then(response => {this.chats = response.data}).catch(function (error) {
                        console.log(error.response);
                    });
                    this.message = '';
                }
            }
        }
    }
</script>
